<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/public/assets/stylesheets/app.css?hash={{index .checksums "app_css"}}" />
  </head>

  <div>
    <body>
      <header>
      </header>

      <!-- Page content -->
      <main>
        {{.yield}}
      </main>

    </body>

    <footer>
      <script src="/public/assets/javascripts/app.js?hash={{index .checksums "app_js"}}"></script>
    </footer>
  </div>
</html>
