package controllers

import (
	"net/http"

	"github.com/labstack/echo"
	"{{.project_path}}/{{.project_name}}/config"
)

// Version returns the current version of this application.
func Version(c echo.Context) error {
	c.Set("handler_method", "Version")

	return c.JSON(http.StatusOK, echo.Map{
		"version": config.Cfg.Version,
	})
}
